# Created by .ignore support plugin (hsz.mobi)
.idea/
.gradle
.kotlin

*.iws
*.iml
*.ipr

out/
build/

!gradle-wrapper.jar

/demo/device-collective/mapCache/

yarn.lock
/demo/data-platform-demo/data/
